/* You can add global styles to this file, and also import other style files */
* {
  margin: 5px;
  color: whitesmoke;
  font-family: Arial, sans-serif;
  background-color: rgb(45, 45, 45);
}

.plain-main {
  width: 900px;
  margin: 0 auto;
  border: 1px solid whitesmoke;
  min-height: 550px;
}

.plain-main h1, h2, button, #response {
  text-align: center;
}

.plain-main h2 {
  padding: 10px;
}

.plain-main input {
  width: 250px;
}

.plain-main form {
  padding: 5px;
  margin: 0 25% 0 25%;
}

.plain-main label {
  display: inline-block;
  width: 70px;
}

.plain-main input, select {
  padding: 5px;
}

.plain-main .plain-btn {
  text-align: center;
}

.plain-main button {
  width: 150px;
}

.plain-inp-val-right {
  text-align: right;
}

.plain-nav {
  display: block;
  text-align: center;
}

.plain-tbl table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.plain-tbl table,
.plain-tbl tr,
.plain-tbl th,
.plain-tbl td {
  border: 1px solid whitesmoke;
}

.plain-tbl th {
  padding: 8px;
}

.plain-tbl td {
  padding: 0 5px 0 5px;
}

.plain-tbl-right {
  text-align: right;
}

.plain-tbl-center {
  text-align: center;
}

.plain-tbl-pagination {
  text-align: right;
}
