<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div>
    <h2>Create Item</h2>
  </div>
  <div>
    <label for="categoryId">Category</label>
    <select formControlName="categoryId" id="categoryId">
      <option *ngFor="let item of categories; let i = index" [value]="(i + 1)">{{ item }}</option>
    </select>
  </div>
  <div>
    <label for="name">Name</label>
    <input [maxLength]="validation.name.max"
           [minLength]="validation.name.min"
           [required]="validation.name.required"
           formControlName="name"
           id="name"
           placeholder="Name"
           type="text">
  </div>
  <div>
    <label for="amount">Amount</label>
    <input [maxLength]="validation.amount.max"
           [minLength]="validation.amount.min"
           [required]="validation.amount.required"
           class="plain-val-left"
           formControlName="amount"
           id="amount"
           placeholder="Amount"
           type="text">
  </div>
  <div>
    <label for="price">Price</label>
    <input [maxLength]="validation.price.max"
           [minLength]="validation.price.min"
           [required]="validation.price.required"
           class="plain-val-left"
           formControlName="price"
           id="price"
           placeholder="Price"
           type="text">
  </div>
  <button [disabled]="form.invalid" type="submit">Submit</button>
  <div *ngIf="response" id="response">{{ response.message }}</div>
</form>
